<div class="row">
    <div class="col-md-12">
        <h1>Documentação</h1>
       
        <p>CRUD de contatos com as seguintes tecnologias:
        NPM, BOWER, GRUNT, ANGULAR, BOOTSTRAP, KARMA, JASMINE</p>
        
        <h3>O que existe nesse projeto?</h3>
        <ul>
            <li>Menu com as opções (cadastrar, listar e documentação)</li>
            <li>Listagem que permite exiber detalhar, editar e excluir</li>
            <li>Filtro de busca</li>
            <li>2 diretivas angular</li>
            <li>1 caso de teste</li>
            <li>1 serviço que lista os contatos da url : https://demo3850308.mockable.io/' via GET</li> 
        </ul>
        
        <h3>Instalação</h3>
        
        <ul>
            <li>baixar o projeto utilizando o git clone https://github.com/jobrasil/agenda.git</li>
            <li>Ter as dependências globais instaladas</li>
            <li>executar o projeto utilizando http-server</li>
        </ul>
        
        
        <h3>Instalando bibliotecas globais</h3>
        
        <ul>
            <li>npm install -g bower</li>
            <li>npm install -g karma-cli</li>
            <li>npm install -g http-server</li>
        </ul>
        
        <h3>Utilizar o caso de teste</h3>
        
        <ul>
            <li>É utilizado o karma com jasmine para o caso de teste</li>
            <li>para realizar o teste utilize  : karma start</li>   
        </ul>
        
    </div>
</div>
