<div class="row">
    <div class="col-md-12">
        <h3>Documentação</h3>

        <p>Este projeto está organizado de forma que a sua estrutura de pastas segue uma abordagem simplificada, em que a aplicação
            se divide em partes específicas, por meio dos Controllers, Services, Directives e Views.</p>

        <p>Para o gerenciamento de dependências foi utilizado o <strong> bower</strong>, dessa forma, ao efetuar o clone e/ou
            realizar o download do projeto, é preciso executar a instrução “bower install” para que as dependências sejam
            carregadas e o projeto seja executado corretamente.
        </p>

        <p>
            Os dados iniciais estão vindo de uma API "mockada", que ao ser carregado no “config.js” armazena seus valores no
            <strong>localStorage </strong> do browser, a fim de que as informações tratadas sejam mantidas enquanto o usuário
            estiver utilizando a aplicação, até que seja limpado os dados do navegador.
        </p>

        <p>Utilizou-se o HTTP-SERVER como servidor HTTP para a execução do projeto, portanto, recomenda-se a sua utilização
            para a eficácia na utilização desse projeto </p>
    </div>
</div>
